<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<meta name="theme-color" content="#000000">
		<link type="image/x-icon" rel="icon" th:href="@{/images/apple-icon-180x180.png}" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type='text/css' />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/react-table/6.8.6/react-table.css" rel="stylesheet" type='text/css' />
		<link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css" rel="stylesheet" type='text/css' />
		<title>Translation Memory Server Tool</title>
	</head>
	<body style="font-family: 'Open Sans', sans-serif;">
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
	</body>
</html>
