<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="image/x-icon" rel="icon" th:href="@{/images/favicon.ico}" />
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<title>Translation Memory Server Tool 401 - Page unauthorized</title>
	</head>
	<body>
		<div class="section" style="margin-top: 50px; margin-left: 150px;">
			<div class="container">
				<div class="row">
					<div class="padding-vertical-30 not-found clearfix">
							<div class="ops">
								<span class="main-color bold font-50">Sorry!</span><br /><br />
								<span class="pg-nt-fnd">The page you are looking for is not authenticated.</span>
								<span class="pg-nt-fnd">Please login first to access the page.</span>
							</div>
							<br/>
							<button class="btn btn-default">
								<a href="/Tool/login">Login</a>
							</button>
						<div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
