<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Translation Memory Server Tool 404 - Page not found</title>
		<link type="image/x-icon" rel="icon" th:href="@{/images/favicon.ico}" />
		<meta name="description" content="404 - Page not found">
		<meta name="author" content="Translations.com GlobalLink Team">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
	  <link rel="shortcut icon" th:href="@{custom/favicon.ico}">

		<!-- CSS StyleSheets -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/assets.css">

		<link rel="stylesheet" href="assets/css/style.css">
		<link id="theme_css" rel="stylesheet" href="assets/css/light.css">

		<!-- REVOLUTION SLIDER STYLES -->
		<link rel="stylesheet" th:href="@{/assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/revolution/css/settings.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/revolution/css/layers.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/revolution/css/navigation.css}" type="text/css">

		<!--[if lt IE 9]>
	    	<script type="text/javascript" src="assets/js/html5.js"></script>
	    <![endif]-->

		<!-- Skin CSS file -->
		<link id="skin_css" rel="stylesheet" th:href="@{/assets/custom/default.css}">



	</head>
	<body>


		<div class="pageWrapper animsition">

			<!-- top bar start -->
	    	<div class="top-bar main-bg">
			    <div class="container">

				    <div class="center-tbl">

				    	<ul class="top-info">
							<!-- INFO NYC -->
						    <li><a href="mailto:support@translations.com?subject=Info request&body=Dear%20Team,%0A%0Aplease%20provide%20assisstance%20for%20the%20following%20matter:%0A%0A%0AThank%20you,%0A%0A"><i class="fa fa-envelope"></i>support@translations.com</a></li>
					    </ul>


					    <ul>
						    <li><a href="#" data-toggle="modal" data-target="#disclaimermodal"><i class="fa fa-bookmark"></i>Disclaimer</a></li>
							<li><a href="#" data-toggle="modal" data-target="#toumodal"><i class="fa fa-legal"></i>Terms of Use</a></li>
					    </ul>

				    </div>
			    </div>
		    </div>
		    <!-- top bar end -->
<!-- HEADER START -->
			<header class="top-head" data-sticky="true">
		    	<div class="container">
			    	<!-- Logo start -->
			    	<div class="logo">
				    	<a href="index.html"><img alt="" src="assets/images/logo.png" /></a>
				    </div>
				    <!-- Logo end -->

					<div class="f-right responsive-nav">
						<!-- top navigation menu start -->
						<nav class="top-nav nav-animate to-bottom">
							<ul>
								<li class="selected"><a href="#">Home</a>&nbsp;</li>
							</ul>
						</nav>
						<!-- top navigation menu end -->



					</div>
		    	</div>
		    </header>
<!-- HEADER END -->

<!-- JUMBOTRON START -->
		    <div id="contentWrapper">

					<div class="section">
						<div class="container">
							<div class="row">
								<div class="padding-vertical-30 not-found clearfix">
									<div class="lg-not-found f-left">404<i></i></div>
									<div class="ops">
										<span class="main-color bold font-50">Sorry!</span><br>
										<span class="pg-nt-fnd">The page you are looking for could not be found.</span>
									</div>
									<div>
										<p class="t-center">Contact <a href="mailto:support@translations.com?subject=Info request&body=Dear%20Team,%0A%0Aplease%20provide%20assisstance%20for%20the%20following%20matter:%0A%0A%0AThank%20you,%0A%0A"><i class="fa fa-envelope"></i> support@translations.com</a>.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

<!-- MODAL SECTION -->
		<!-- DISCLAIMER MODAL -->
		<div class="modal fade" id="disclaimermodal" tabindex="-1" role="dialog" aria-labelledby="disclaimermodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Disclaimer</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<p>The material in this website could include technical inaccuracies or other errors. The User's use and browsing of the website is at the User's risk. Neither Translations.com nor any other party involved in creating, producing or delivering the website shall be liable for any direct, incidental, consequential, indirect or punitive damages arising out of the User's access to, or use of, the website. Translations.com does not warrant that the functional aspects of the website will be uninterrupted or error free, or that this website or the server that makes it available are free of viruses or other harmful components. Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to particular Users. Translations.com reserves the right to make changes to this website at any time without notice.</p>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- TERMS of USE MODAL -->
		<div class="modal fade" id="toumodal" tabindex="-1" role="dialog" aria-labelledby="toumodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Terms of Use</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<p>Confidential The material on this page is intended solely for [client], and their employees that utilize Translations.com services. Contents shall not be unlawfully distributed.</p>
						<p>&copy; 2017 Translations.com</p>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
<!-- MODAL SECTION -->

<!-- Footer start -->
			    <footer id="footWrapper">
			    	<div class="footer-top main-bg">
			    		<div class="container">
			    			<div class="row">
			    				<div class="f-left"><span class="font-20 uppercase"><span class="light-text bolder"><i class="fa fa-cog fa-spin"></i> GlobalLink</span> &ndash; The world's friendliest multilingual CMS</span></div>
			    				<div class="f-right">
								<a href="http://www.translations.com/globallink/products/globallink_enterprise.html"  class="alter-bg block-link">More details</a></div>
			    			</div>
			    		</div>
			    	</div>
			    	<div class="footer-middle">
					    <div class="container">
						    <div class="row">

								<!-- main menu footer cell start -->
							    <div class="col-md-3 first">
								    <h3>Main Menu</h3>
								    <ul class="menu-widget">
									    <li><a href="#top">Home</a></li>
								    </ul>
							    </div>
							    <!-- main menu footer cell start -->

							    <!-- Recent Posts footer cell start -->
							    <div class="col-md-3 contact-widget" style="background: transparent;">
								    <h3>Support</h3>
								    <div  class="details">
										<ul>
											<li><a href="mailto:support@translations.com?subject=Info request&body=Dear%20Team,%0A%0Aplease%20provide%20assisstance%20for%20the%20following%20matter:%0A%0A%0AThank%20you,%0A%0A" data-toggle="modal" data-target="#supportmodal"><i class="fa fa-support shape sm"></i><span>Support Request</span></a></li>
										</ul>
									</div>
							    </div>
							    <!-- Recent Posts footer cell start -->
							    <!-- Useful Links footer cell start -->
								<div class="col-md-3 contact-widget" style="background: transparent;">
								    <h3>Legal</h3>
								    <ul class="details">
								    	<li><a href="#" data-toggle="modal" data-target="#disclaimermodal"><i class="fa fa-bookmark shape sm"></i><span>Disclaimer</span></a></li>
								    	<li><a href="#" data-toggle="modal" data-target="#toumodal"><i class="fa fa-legal shape sm"></i><span>Terms of Use</span></a></li>
								    </ul>
							    </div>
							    <!-- Useful Links footer cell start -->

							    <!-- Tags Cloud footer cell start -->
							    <div class="col-md-3 last contact-widget">
								    <h3>Contact Us</h3>
								    <ul class="details">
								    	<li><i class="fa fa-map-marker shape sm"></i><span>Three Park Avenue, 40th Floor<br>New York, NY 10016</span></li>
								    	<li><i class="fa fa-envelope shape sm"></i><span>info@translations.com</span></li>
								    	<!--<li><i class="fa fa-skype shape sm"></i><span>our_skype_account</span></li>-->
								    </ul>
							    </div>
							    <!-- Tags Cloud footer cell start -->

						    </div>
					    </div>
				    </div>

				    <!-- footer bottom bar start -->
				    <div class="footer-bottom">
					    <div class="container">
				    		<div class="row">
					    		<!-- footer copyrights left cell -->
					    		<div class="copyrights col-md-5 first">© Copyright <b class="main-color">Translations.com</b> 2017. All rights reserved.</div>

					    		<!-- footer social links right cell start -->
							    <div class="col-md-7 last">
										<ul class="footer-menu f-right">
											<li><a href="http://www.translations.com/about-us" >About Us</a></li>
											<li>|</li>
											<li><a href="http://www.transperfect.com/about/privacy.html" >Privacy</a></li>
											<li>|</li>
											<li><a href="http://www.translations.com/about/global-group" >Global Group</a></li>
										</ul>
							    </div>
							    <!-- footer social links right cell end -->

				    		</div>
					    </div>
				    </div>
				    <!-- footer bottom bar end -->
				</footer>
<!-- Footer end -->
		    </div>
		</div>


		<!-- Back to top Link -->
	    <a id="to-top"><span class="fa fa-chevron-up shape main-bg"></span></a>
<!-- MODAL SECTION end -->
<!-- JS SECTION -->
	    <!-- Load JS plugins file -->
 		<script type="text/javascript" src="assets/js/assets.min.js"></script>

 		<!-- SLIDER REVOLUTION  -->
		<script type="text/javascript" th:src="@{/assets/revolution/js/jquery.themepunch.tools.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/jquery.themepunch.revolution.min.js}"></script>

		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
			(Load Extensions only on Local File Systems !  +
			The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
		<!--<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>-->
		<!-- END SLIDER REVOLUTION 5.0 EXTENSIONS -->

		<script type="text/javascript">
			var tpj=jQuery;
			var revapi48;
			tpj(document).ready(function() {
				$("a").filter(function() {
					return this.hostname && this.hostname !== location.hostname;
				}).attr('target', '_blank');
				if(tpj("#slider").revolution == undefined){
					revslider_showDoubleJqueryError("#slider");
				}else{
					revapi48 = tpj("#slider").show().revolution({
						sliderType:"standard",
						jsFileLocation:"assets/revolution/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: false,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: false,
                                hide_onmobile: false,
                                style: "gyges",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "_top",
                                h_offset: 0,
                                v_offset: 20,
                                space: 5,
                                tmp: ''
                            }
                        },
                        parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
							levels:[2,3,4,5,6,7,12,16,10,50],
						},
						responsiveLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[868,768,960,720],
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "",
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});

					revapi48.bind("revolution.slide.onchange",function (e,data) {
					if($('.top-head').hasClass('transparent') || $('.top-head').hasClass('boxed-transparent')){
						if($('#slider ul > li').eq(data.slideIndex-1).hasClass('dark') ){
							$('.top-head').removeClass('not-dark');
							$('.top-head').addClass('dark');
							var logo = $('.logo').find('img').attr('src').replace("logo.png", "logo-light.png");
							$('.logo').find('img').attr('src',logo);
						} else {
							$('.top-head').removeClass('dark');
							$('.top-head').addClass('not-dark');
							var logo = $('.logo').find('img').attr('src').replace("logo-light.png", "logo.png");
							$('.logo').find('img').attr('src',logo);
						}
						if($('.top-head').hasClass('sticky-nav')){
							var logo = $('.logo').find('img').attr('src').replace("logo-light.png", "logo.png");
							$('.logo').find('img').attr('src',logo);
						}
					}
	            });
				}
			});	/*ready*/
		</script>

		<!-- general script file -->
		<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
<!-- END Scripts -->
<!-- GOOGLE ANALYTICS start -->
		<!--<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-71760681-2', 'auto');
				ga('send', 'pageview');

		</script>-->
<!-- GOOGLE ANALYTICS end -->
	</body>
</html>
