<head>
  <title></title>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.0/oidc-client.min.js"></script>
  <script>
    new Oidc.UserManager().signinSilentCallback().catch((err) => {
      console.log(err);
    });
  </script>
</body>
